.itemCalendario div {
    background-color: #aaa;
    width: 206px;
    padding: 2px;
    border-radius: 15px;
  }

  .containerMapa {
    font-family: "Roboto";
    display: flex;
    background: #f9f9f9;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 550px;
    font-size: 14px;
  }
    
  // .RangeCalendarModal{
  //   //background-color:red;
  //   &.mantine-fw39r8[data-first-in-range]{
  //     background-color: cyan;
  //   }
  //   &.mantine-fw39r8-day {
  //     &.mantine-fw39r8[data-selected] {
  //       background-color: cyan;
  //       border-radius: 100;
  //       position: 'relative';
  //     }

  //     &.mantine-fw39r8-data-in-range {
  //        background-color: cyan;
  //     }

  //     &.mantine-fw39r8-data-first-in-range {
  //       background-color: cyan;
  //       border-radius: 100;
  //       position: 'relative';

  //       &::after{
  //         content: '""';
  //         background-color: cyan;
  //         position: 'absolute';
  //         right: 0;
  //         left: 20;
  //         top: 0;
  //         bottom: 0;
  //         z-index: -1;
  //       }
  //     }

  //     &.mantine-fw39r8-data-last-in-range {
  //       background-color: cyan;
  //       border-radius: 100;
  //       &::after {
  //         content: '""';
  //         background-color: cyan;
  //         position: 'absolute';
  //         left: 0;
  //         right: 20;
  //         top: 0;
  //         bottom: 0;
  //         z-index: -1;
  //       }
  //     }
  //   }
  // }




          
       