
.item {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: solid #eee 2px;
    background: #ffffff;
    color: darkgray;
    text-align: left;
    width: 340px;
    height: 70px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px 10px;
  }
  